/*===============Propiedades Globales================*/

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

body {
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
    color: #1b2a4e;
}


/*===================MENU==========================*/

 #menu a, button{
     font-size: 18px !important;
     font-weight: 600;
    
 }

 #menu a{
     color:#3f3f3f;
     
 }
/*===================SLIDER DE IMAGENES==========================*/

.carousel-inner {
    max-height:36rem !important;
}

/*===================SECCION NUESTRO EQUIPO IMAGEN==========================*/



#img-equipo{
    max-height:30rem !important;
    width:50%;
}


/*===================SECCION NUESTRO EQUIPO MAPA==========================*/
#local {
    margin-top:50px;
    background-color: #f3f3f3;
    display:flex;
    justify-content: center; 
    padding-bottom: 15px; 
}

.mapa {
    background: url(../img/ubicacion3.png);
    width:100%;
    height:500px;
}


.wrapper-local {
    width:50%;
    margin-left:100px;
    padding-top:60px;
}


/*===========================SECCION EQUIPO MIAMI==================================*/
#numeros-local{
    margin:0 !important;
    padding:0 !important;
}
#numeros-local div {
    padding: 0 20px 0 0;   
    text-align:left;
    height:48px;
}

#numeros-local div:not(:last-child) {
    border-right: 2px solid #3f3f3f;
  }
#numeros-local div:not(:first-child) {
    padding-left:20px;
  }

#numeros-local p{
    margin:0;
}

/*=========================CONTACTOS BACKGROUND================================*/

#bg-contactos{
    position:relative;
    top: -130px;
} 

 #seccion-contacto{
    background-color: #2e2a2a;
    min-height:350px;
    position:relative;
    
}

/*=========================CONTACTOS FORMULARIO================================*/

#pedidoya{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-150%, 80%);
    background: #fbfafa;
    border-radius:5px;
    height: ;
    
}
#pedidodirecto{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-23%, 80%);
    background: #fbfafa;
    border-radius:5px;
    height: 70%;
    
}

#wp{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(100%, 80%);
    background: #fbfafa;
    border-radius:5px;
    height: 70%;
}

#titulo-formulario {
    color: #3f3f3f;
}




/*=========================FOOTER================================*/

footer {
    background: #1b2a4e;
    min-height: 100px;;
}
footer p{
    color:#f3f3f3;
    text-align:center;
}
#iconos  i {
    font-size: 26px;
    padding: 0 8px;
    color:#f3f3f3;
}

/*=========================MEDIA QUERIES PANTALLA ANCHA================================*/


/*=========================MEDIA QUERIES PANTALLA SM================================*/




.logo{
    height: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translate(1%, 25%);
}
.delivery{
    transform: translate(-5%, 00%);
}

.logo1{
    transform: translate(130%, -50%);
}

#loguito{
    transform: translate(0%, -22%);
    width: 100%;
}

#h1{
    transform: translate(0%, 70%);
    margin-bottom: auto;
}

#wplink{
    transform: translate(-10%, 110%);
    display: block;
}

#servicios img{
border-radius: 35px;
}

#icono{
    height: 60px;
    transform: translate(140%, 2%);
}

@media(max-width: 551px) and (min-width: 500px){
    #loguito{
        width: 100%;
        height: 100%;
        transform: translate(0px, 0px);
    }
  
}

@media(max-width: 499px) and (min-width: 382px){
    #loguito{
        width: 100%;
        height: 100%;
        transform: translate(-25px, 0px);
    }
  
}

@media(max-width: 382px) and (min-width: 250px){
    #loguito{
        width: 280px;
        height: 100%;
        transform: translate(-38px, 0px);

    }

    #termolinav{
        font-size: small;
        
    }
  
    .navbar-toggler {
        
        
        transform: translate(95px, 0px);
}
.intro{
    width: 100%;
    font-size: smaller;
    flex-wrap: wrap;
    margin-left: 8px;
}

#h1servicios{
    font-size: medium;
    display: flex;
    flex-wrap: wrap;
   text-align: center;
   transform: translate(20px, 10px);
   font-size: small;
}

#services{
    flex-wrap: wrap;
    font-size: smaller;
    height: 270px;
    width: 270px;
    transform: translate(-75px);
}

body{
    justify-content: flex-end;
}

#servicios {
    display: flex;
    flex-direction: row;
    width: 255px;
    flex-wrap: wrap;
    text-align: center;
    align-items: center;
    justify-content: center;
    
}

#servicios img{
    margin-top: 1rem;
    width: 150px;
    height: 150px;
}

#servicios h3{
    margin-top: 1rem;
    
}

iframe{
    width: 270px;
    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
}
.mapa{
    width: 200px;
    height: 200px;
    
}


.wrapper-local{
    transform: translate(-250px, 100px);
    height: 500px;
    margin-top: 1rem;
}
#muchainfo{
    display: none;
}
.muchainfo2{
    display: none;
}




}
@media(max-width: 790px) and (min-width: 551px){
    #loguito{
        width: 100%;
        height: 100%;
        
        transform: translate(-90px, -20px);
    }
    }

    @media(max-width: 1090px) and (min-width: 791px){
        #loguito{
            width: 100%;
            height: 100%;
            transform: translate(-40px, -20px);
        }
        }

        .navbar-toggler-icon {
            display: inline-block;
            width: 1.5em;
            height: 1.5em;
            
            transform: translate(-250px, 0px);
  
